__pycache__/__init__.cpython-312.pyc
__pycache__/climate.cpython-312.pyc
__pycache__/config_flow.cpython-312.pyc
__pycache__/const.cpython-312.pyc
__pycache__/number.cpython-312.pyc
__pycache__/sensor.cpython-312.pyc
__pycache__/translations.cpython-312.pyc
translations/__pycache__/de.cpython-312.pyc
translations/__pycache__/en.cpython-312.pyc
